@model OnlineShopping.Models.LogoutViewModel

@* @{
    ViewData["Title"] = "Logout";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Logout">
        </form>
    </div>

</div> *@

